*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#intelliJ Idea
.idea/
*.iml
*.iws

#java
*.class
# Package Files #
*.jar
*.war
*.ear

f4ftestsuite/
site
