body {
	font-family: 'Sintony', Arial, sans-serif;
	font-size:14px;
}
#header{
	background: url("../img/topbar_background.png") repeat-y scroll center top #DC006B;
    height: 10px;
	border:none;
}
body a {color:#DC006B;}
body a:hover {color:#000;}
#content {margin-top:15px;}
#logos {width:100%;height:110px;margin:0px 0px 0px 0px;padding:0px;}
#logos li {float:left;display:inline-block;height:100px;margin:0px 20px 0px 0px;padding:0px;}

#content h1 {
	font-size:24px;
	font-weight:normal;
	background:#EAEAEA;
	text-align:center;
	padding:25px;
}
#content  h2 {
	border-bottom:1px solid #333;
	font-size:18px;
	font-weight:normal;
	margin-top:20px;
}
#content .imgContainer {text-align:center;padding:10px 0px 0px 0px;}
#topstory {background-color: #EEEEEE;}

#blackLink {color:#000000;}